# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/
.env
.env.*
!.env.example

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json

# Misc
*.log
*.tmp
infra/ingestor/lambda/news_ingestor.zip
infra/ingestor/news_ingestor.zip
infra/ingestor/lambda/price_1s.zip
infra/ingestor/lambda/price_1s/*
*.pem
