aws_region          = "ap-northeast-2"
project             =
vpc_cidr            = "10.52.0.0/16"
private_subnet_cidr = "10.52.1.0/24"
instance_type_db    = "t3.medium"
ssh_key_name        =
db_ingress_cidrs    = ["10.42.0.0/16"] # e.g., VPC where collectors live
landing_bucket_arn  = 

tags = {
  Environment = "dev"
  Owner       = "team-mlops"
}
